{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log Out" %}{% endblock %}

{% block hero %}
<h1 class="text-center mb-5">{% trans "Log Out" %}</h1>

<p class="text-justify text-center">{% trans "Are you sure you're ready to stop your WildWonder adventure?" %}</p>
<div class="row">
  <div class="col-md-8 mt-3 offset-md-2">

    <form class="text-center" method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="row">
        <div class="d-inline-flex justify-content-center col-12 ">
          <button class="btn btn-primary btn-hero btn-red" type="submit">{% trans 'Logout' %}</button>
          <a class="btn btn-primary btn-hero" href="{% url 'home' %}"
            aria-label="Cancel and return to home screen. Opens in the same tab.">{% trans 'Cancel' %}</a>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
{% endblock hero %}