{% extends "base.html" %}

{% load static %}

<!-- index.html content starts here -->

<!-- Hero section content -->
{% block hero %}
<h1 class="text-center">Welcome to WildWonder!</h1>
<br>
<p class="text-justify">
    At WildWonder, we're more than just a website – we're a vibrant community brought
    together by our shared passion for the beauty of nature.
</p>
<p class="text-justify">
    Here, you can immerse yourself in a treasure trove of articles exploring the wonders of our
    world. But that's just the beginning!
</p>
<p class="text-justify">
    Feel inspired? Join us in contributing your own insights, stories, and experiences. Whether
    you're writing an article, leaving a comment, or voting on your favorite pieces, your voice matters.
</p>
<p class="text-justify">
    So go ahead, dive in, and become part of our community. Explore, engage, and connect with fellow
    nature enthusiasts as we journey together through the marvels of the natural world. Welcome to
    WildWonder – where every adventure starts with you.
</p>
<div class="text-center" id="hero-buttons">
    <a href="{% url 'articles_page' %}" aria-label="Explore link. Opens a page with all of the articles. Opens in the same tab." class="btn btn-hero">Explore</a>
    {% if user.is_authenticated %}
    <a href="{% url 'write_article' %}" class="btn btn-hero">Write an article</a>
    {% else %}
    <a href="{% url 'account_signup' %}" aria-label="Sign Up link. Opens in same tab." class="btn btn-hero">Join Us</a>
    {% endif %}
</div>
{% endblock hero %}

<!-- About section content -->
{% block about_section %}
<h2 class="text-center about-title">About Us</h2>
<p class="text-justify about-text">
    WildWonder is an inclusive online sanctuary devoted to the awe-inspiring wonders of our natural
    world.
    Our philosophy is rooted in nurturing a deep respect for the beauty, diversity, and connection with
    nature.
    Through a vibrant community of explorers, nature advocates, and nature enthusiasts, we strive to
    cultivate
    a genuine appreciation for our planet's marvels.
</p>
<p class="text-justify about-text">
    At WildWonder, we're on a mission to spark curiosity, ignite passion, and forge connections among
    individuals who are captivated by the magnificence of the great outdoors. Whether you're a seasoned
    adventurer, an aspiring environmentalist, or someone who simply enjoys the tranquility of nature,
    you'll find a welcoming home in our virtual ecosystem.
</p>
<p class="text-justify about-text">
    Join us as we embark on a journey of discovery, sharing captivating stories, breathtaking imagery,
    and invaluable insights into the natural world. Together, let's celebrate the boundless wonders of
    our planet and inspire one another to take care of its precious ecosystems. Welcome to
    WildWonder—where every moment is an opportunity to marvel at the extraordinary.
</p>
{% endblock about_section %}

<!-- Main section content -->
{% block main %}
<section class="recommended-articles">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Some of our favourite WildWonders</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'images/08A60406-9095-43F5-B535-BAA6381BCA61.jpg' %}" class="card-img-top" alt="Beautiful lake with a forest and mountains behid it, as placeholder image.">
                    <div class="card-body">
                        <h5 class="card-title">Relaxing view</h5>
                        <p class="card-text">Beautiful lake with a forest and mountains behid it, as placeholder image.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'images/08A60406-9095-43F5-B535-BAA6381BCA61.jpg' %}" class="card-img-top" alt="Beautiful lake with a forest and mountains behid it, as placeholder image.">
                    <div class="card-body">
                        <h5 class="card-title">Relaxing view</h5>
                        <p class="card-text">Beautiful lake with a forest and mountains behid it, as placeholder image.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'images/08A60406-9095-43F5-B535-BAA6381BCA61.jpg' %}" class="card-img-top" alt="Beautiful lake with a forest and mountains behid it, as placeholder image.">
                    <div class="card-body">
                        <h5 class="card-title">Relaxing view</h5>
                        <p class="card-text">Beautiful lake with a forest and mountains behid it, as placeholder image.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="maps-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Explore the WildWonders with us</h2>
                <div class="row">
                    <div class="col-lg-3 text-lg-left">
                        <ul class="list-inline">
                            <li class="list-inline-item">Plitvice Lakes</li>
                            <li class="list-inline-item">WildWonder 2</li>
                            <li class="list-inline-item">WildWonder 3</li>
                            <li class="list-inline-item">WildWonder 4</li>
                            <li class="list-inline-item">WildWonder 5</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 text-lg-center map-container" id="map">
                        <span class="col-12" id="map"></span>
                    </div>
                    <div class="col-lg-3 text-lg-right">
                        <ul class="list-inline">
                            <li class="list-inline-item">WildWonder 6</li>
                            <li class="list-inline-item">WildWonder 7</li>
                            <li class="list-inline-item">WildWonder 8</li>
                            <li class="list-inline-item">WildWonder 9</li>
                            <li class="list-inline-item">WildWonder 10</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- index.html content ends here -->
    
{% endblock main %}

{% block extras %}
<script src="{% static 'js/maps.js' %}"></script>
{% endblock extras %}
