{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

<!-- article_edit.html content starts here -->

<!-- Hero section content -->
{% block hero %}
<form id="article-form" method="post" action="{% url 'edit_article' post.slug %}" enctype="multipart/form-data">
    {% csrf_token %}
    <span class="text-center"><input class="write-article" type="text" name="location_name" id="location_name"
        value="{{ post.location_name }}" required></span>
    <br>
    <div class="text-justify">
        <span>
            <textarea class="write-article" name="location_description" id="location_description" cols="70" rows="8"
                placeholder="About the location..." required> {{ post.location_description }}</textarea>
        </span>
    </div>
    <div class="text-center" id="hero-buttons">
        {{ image_form.as_p }}
        <span>Please upload your image for main hero image.</span>
    </div>
    {% endblock hero %}

    <!-- Article Info content -->
    {% block article_info %}
    <div class="d-flex flex-wrap justify-content-between p-2 mb-3 article-info">
        <div>
            <span><i class="far fa-user"></i> <span class="hidden-on-small-screen">Article author</span>:</span>
            <span class="about-article">{{ user.username }}</span>
        </div>
        <div>
            <span><i class="far fa-eye"></i> <span class="hidden-on-small-screen">View count</span>:</span>
            <span class="about-article">{{ fictional_view_count }}</span>
        </div>
        <div>
            <span><i class="far fa-star"></i> <span class="hidden-on-small-screen">Rating</span>:</span>
            <span class="about-article">{{ fictional_vote_total }}</span>
        </div>
        <div>
            <span><i class="far fa-comments"></i> <span class="hidden-on-small-screen">Comments</span>:</span>
            <span class="about-article"> {{ fictional_comment_count }}</span>
        </div>
        <div>
            <span><i class="fas fa-pencil-alt"></i> <span class="hidden-on-small-screen">Uploaded on</span>:</span>
            <span class="about-article">{{ fictional_updated_on }}</span>
        </div>
    </div>
    {% endblock article_info %}


    <!-- About section content -->
    {% block about_section %}
    <span class="text-center about-title"><input class="write-article" type="text" name="main_content_title"
            id="main_content_title"  value="{{ post.main_content_title }}"></span>
    <div class="text-justify about-text">
        <span><textarea class="write-article" name="main_content" id="main_content" cols="120" rows="10"
                 required>{{ post.main_content }}</textarea></span>
    </div>
    {% endblock about_section %}

    <!-- Main section content -->
    {% block main %}

    <!-- Maps section content -->
    <section class="maps-section-article">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-left">[Location name will show here] on a map:</h3>
                    <p>Please add the coordinates in designated area.</p>
                    <div class="row">
                        <div class="col-md-6 text-md-left map-container">
                            <span class="col-12" id="map"></span>
                            <div class="text-center coordinates">
                                <div class="text-center align-content-center">
                                    <input class="write-article" type="text" name="longitude" id="longitude"
                                        value="{{ post.longitude }}" required>
                                    <input class="write-article" type="text" name="latitude" id="latitude"
                                    value="{{ post.latitude }}" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-md-right">
                            <span class="text-justify"><textarea class="write-article" name="secondary_content"
                                    id="secondary_content" cols="50" rows="15" required>
                                    {{ post.secondary_content }}</textarea></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock main %}

    {% block submit-article-section %}
    <!-- Submit article section | Extra section -->
    <h2 class="text-center">Satisfied with your article?</h2>
    <p class="text-center">If you are satisfied with the way your article looks, press the Update article button.</p>
    <p>Your article will be posted if it meets the page requirements and doesn’t include harmful information or
        languages.</p>
    <p>Thank you for contributing to the community, we are looking forward to growing with each and every one of you.
    </p>
    {% if user.is_superuser %}
        <input type="checkbox" id="post_type" name="post_type" value="code">
        <label for="post_type"><span>! Check the tick box if article contains code !</span></label><br>
    {% endif %}
    <button name="article_submit" id="submit-article" type="submit" class="btn btn-submit">Update article</button>
</form>
{% endblock submit-article-section %}


<!-- article_edit.html content ends here -->

{% block extras %}
<script src="{% static 'js/maps.js' %}"></script>
{% endblock %}
