{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!-- article.html content starts here -->

<!-- Hero section content -->
{% block hero %}
<h1 class="text-center" id="location_name">{{ post.location_name }}</h1>
<br>
{% if post.author.is_superuser and post.post_code_type == True %}
<!-- if post.author is superuser display -->
<div class="text-justify" id="location_description">
    {{ post.location_description|safe }}
</div>
{% else %}
<!-- if post.author is any other user display -->
<div class="text-justify">
    <p id="location_description">{{ post.location_description }}</p>
</div>
{% endif %}
<div class="text-center" id="hero-buttons">
    {% if user.is_authenticated %}
    <a href="{% url 'articles_page' %}"
        aria-label="Explore link. Opens a page with all of the articles. Opens in the same tab."
        class="btn btn-hero">Explore</a>
    <a href="{% url 'write_article' %}" class="btn btn-hero">Write</a>
    {% else %}
    <a href="{% url 'articles_page' %}"
        aria-label="Explore link. Opens a page with all of the articles. Opens in the same tab."
        class="btn btn-hero">Explore</a>
    <a href="{% url 'account_signup' %}" aria-label="Sign Up link. Opens in same tab." class="btn btn-hero">Join Us</a>
    {% endif %}
</div>
{% endblock hero %}

<!-- Article Info content -->
{% block article_info %}
<div class="d-flex flex-wrap justify-content-between p-2 mb-3 article-info">
    <div class="about-article">
        <span><i class="far fa-user"></i> <span class="hidden-on-small-screen">Article author</span>:</span>
        {{ post.author }}
    </div>
    <div class="about-article">
        <span><i class="far fa-eye"></i> <span class="hidden-on-small-screen">View count</span>:</span>
        {{ post.view_count }}
    </div>
    <div class="about-article">
        <span><i class="far fa-star"></i> <span class="hidden-on-small-screen">Rating</span>:</span>
        {{ vote_total }}
    </div>
    <div class="about-article">
        <span><i class="far fa-comments"></i> <span class="hidden-on-small-screen">Comments</span>:</span>
        {{ comment_count }}
    </div>
    <div class="about-article">
        <span><i class="fas fa-pencil-alt"></i> <span class="hidden-on-small-screen">Uploaded on</span>:</span>
        {{ post.updated_on }}
    </div>
</div>



<div class="text-center">
    {% if user.is_authenticated and post.author == user or user.is_superuser %}
    <button class="btn btn-edit" id="article-edit" post_id="{{ post.slug }}">Edit</button>
    {% endif %}
    {% if user.is_authenticated and post.author == user or user.is_superuser %}
    <button class="btn btn-delete" id="article-delete"  post_id="{{ post.slug }}">Delete</button>
    {% endif %}
</div>

{% endblock article_info %}


<!-- About section content -->
{% block about_section %}
<h2 class="text-center about-title" id="main_content_title">{{ post.main_content_title }}</h2>
{% if post.author.is_superuser and post.post_code_type == True %}
<!-- if post.author is "LukaB25" (Admin) display -->
<div class="text-justify about-text">
    <div id="main_content">{{ post.main_content|safe }}</div>
</div>
{% else %}
<!-- if post.author is any other user display -->
<div class="text-justify about-text">
    <p id="main_content">{{ post.main_content }}</p>
</div>
{% endif %}
{% endblock about_section %}

<!-- Main section content -->
{% block main %}

<!-- Maps section content -->
<section class="maps-section-article">
    <div class="container">
        <div class="row">
            <div class="col-12">
                    <h3 class="text-left" >{{ post.location_name }} on a map:</h3>
                    <div class="row">
                        <div class="col-md-6 text-md-left map-container">
                            <span class="col-12" id="map" data-latitude="{{ post.latitude }}" data-longitude="{{ post.longitude }}"></span>
                        </div>
                    <div class="col-md-6 text-md-right">
                        {% if post.author.is_superuser and post.post_code_type == True %}
                        <!-- if post.author is "LukaB25" (Admin) display -->
                        <div id="secondary_content">{{ post.secondary_content|safe }}</div>
                        {% else %}
                        <!-- if post.author is any other user display -->
                        <p class="text-justify" id="secondary_content">{{ post.secondary_content }}</p>
                        {% endif %}
                    </div>
                    <div class="d-none ">
                        <input type="text" id="longitude" value="{{ post.longitude }}">
                        <input type="text" id="latitude" value="{{ post.latitude }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Comment/Vote section -->
<section class="comments-and-votes-section">
    <div class="container">
        <div class="row">
            <!-- Comment section -->
            <div class="col-md-6 comment-section">
                <h2 class="text-center">Comments:</h2>
                <div class="card-body comment-card">
                    <!-- Iterate through each comment inside page_obj -->
                    {% for comment in page_obj %}
                        {% if comment.approved or comment.author == user or user.is_superuser %}
                            <div class="p-2 comments
                            {% if not comment.approved %}
                            comment-approval{% endif %}">
                                <p class="comment-text comment-author">
                                    {{ comment.author }}
                                    <span class="comment-text comment-date">
                                        {{ comment.created_on }}
                                    </span>
                                </p>
                                <div class="comment-text comment-body" id="comment{{ comment.id }}">
                                    {{ comment.body | linebreaks }}
                                </div>
                                <div class="text-right">
                                    {% if user.is_authenticated and comment.author  == user %}
                                    <button class="btn btn-edit comment-btn comment-edit" comment_id="{{ comment.id }}"><i
                                            class="fas fa-edit"></i></button>
                                    {% endif %}
                                    {% if user.is_authenticated and comment.author == user or user.is_superuser %}
                                    <button class="btn btn-delete comment-btn comment-delete" comment_id="{{ comment.id }}"><i
                                            class="fas fa-trash-alt"></i></button>
                                    {% endif %}
                                </div>
                                {% if not comment.approved and comment.author == user %}
                                <p class="approval">
                                    <i class="fas fa-flag"></i> This comment is awaiting approval <i class="fas fa-flag"></i>
                                </p>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="pagination justify-content-center comment-pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}=
                                <a href="?page={{ page_obj.previous_page_number }}">&laquo PREV</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ page_obj.number }} out of {{ page_obj.paginator.num_pages }}.
                            </span>
                    
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">NEXT &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
            <!-- Voting section -->
            <div class="col-md-6 vote-section">
                <h2 class="text-center">Votes:</h2>
                <div class="col-12 mt-3">
                    <div class="card-body">
                        {% if user.is_authenticated %}
                        <div class="d-flex leave-vote">
                            <h3>Vote:</h3>
                            <p>Posting as: {{ user.username }}</p>
                        </div>
                        <form class="text-center" id="voteForm" method="post">
                            {% csrf_token %}
                            <!-- Iterate through each field in the form -->
                            {% for field in vote_form %}
                                <!-- Check if the field is a radio button -->
                                {% if field.field.widget.input_type == 'radio' %}
                                    <div class="radio-group d-flex justify-content-center">
                                        {% for choice in field.field.choices %}
                                            <div class="radio-option">
                                                <input type="radio" id="{{ field.auto_id }}_{{ forloop.counter }}" name="{{ field.html_name }}" value="{{ choice.0 }}" {% if field.value == choice.0 %}checked{% endif %}>
                                                <label for="{{ field.auto_id }}_{{ forloop.counter }}" class="star"><i class="star-icon fas fa-star" id="{{ choice.0 }}"></i></label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                            <button name="vote_submit" id="voteSubmit" type="submit" class="btn btn-submit">Vote</button>
                        </form>
                        {% else %}
                        <p class="leave-vote">Please login to vote for this article.</p>
                        {% endif %}
                    </div>
                </div>
                <!-- Creating New Comments -->
                <div class="col-12 mt-3">
                    <div class="card-body">
                        {% if user.is_authenticated %}
                        <div class="d-flex leave-comment">
                            <h3>Comment:</h3>
                            <p>Posting as: {{ user.username }}</p>
                        </div>
                        <form class="text-center" id="commentForm" method="post">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button name="comment_submit" id="submitButton" type="submit" class="btn btn-submit">Submit</button>
                        </form>
                        {% else %}
                        <p class="leave-comment">Log in to leave a comment on this article.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="recommended-articles">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Explore our other WildWonders</h2>
            </div>
        </div>
        <div class="row articles-section">
            <div class="col-12">
                <div class="row">
                    {% for post in random_posts %}
                    <div class="col-md-4">
                        <a href="{% url 'article_detail' slug=post.slug %}" class="post-link">
                            <div class="card mb-4">
                                {% if post.hero_image.url %}
                                <img src="{{ post.hero_image.url }}" class="card-img-top"
                                    alt="{{ post.location_name }}">
                                {% else %}
                                <!-- Placeholder image -->
                                <img src="{% static 'images/08A60406-9095-43F5-B535-BAA6381BCA61.jpg' %}"
                                    class="card-img-top" alt="Article Placeholder Image">
                                {% endif %}
                                <h3 class="card-title">{{ post.location_name }}</h3>
                                <hr>
                                <p class="card-text text-muted-custom h6">{{ post.created_on }}</p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="write-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Share your WildWonder</h2>
                <div class="row text-center">
                    <div class="col-12">
                        <p class="text-justify">
                            Write your own stories, insights, and experiences exploring our planet's natural wonders.
                            Share your passion for nature and inspire others to embark on their own adventures.
                        </p>
                        <p class="text-justify">
                            Whether you're a seasoned explorer or a first-time writer, your voice is a valuable addition,
                            so get writing, share your story, join or start the discussions in the comments and 
                            above all, know that you are heard.
                        </p>
                        <span class="justify-content-center">
                        <a href="{% url 'write_article' %}" class="btn btn-hero">Write an article</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Delete comment confirmation modal -->
<div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteCommentModalLabel">Delete comment?</h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to delete your comment?
                    This action cannot be undone.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel" data-dismiss="modal">Close</button>
                <a id="deleteCommentConfirm" href="" class="btn btn-confirm-delete">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- Delete article confirmation modal -->
<div class="modal fade" id="deleteArticleModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteArticleModalLabel">Delete the article?</h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to delete your article?
                    This action cannot be undone.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel" data-dismiss="modal" post_id="{{ post.slug }}">Close</button>
                <a id="deleteArticleConfirm" href="" class="btn btn-confirm-delete">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- article.html content ends here -->

{% endblock main %}

{% block extras %}
{% if user.is_authenticated %}
    <script src="{% static 'js/votes.js' %}"></script>
    <script src="{% static 'js/comments.js' %}"></script>
    <script src="{% static 'js/articles.js' %}"></script>
{% endif %}
<script src="{% static 'js/maps.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB2riI28lDfS3D_G-ixaZz67ksOmx58Vw&callback=initMap" async defer></script>
{% endblock %}

