{% extends "base.html" %}

<!-- index.html content starts here -->

<!-- Hero section -->
{% block hero %}
<div class="container jumbotron custom-jumbotron offset-1 ">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Welcome to WildWonder!</h1>
            <br>
            <p class="text-justify">At WildWonder, we're more than just a website – we're a vibrant community brought together by our shared passion for the beauty of nature.

                <br><br>Here, you can immerse yourself in a treasure trove of articles exploring the wonders of our world. But that's just the beginning!
                
                <br><br>Feel inspired? Join us in contributing your own insights, stories, and experiences. Whether you're writing an article, leaving a comment, or voting on your favorite pieces, your voice matters.
                
                <br><br>So go ahead, dive in, and become part of our community. Explore, engage, and connect with fellow nature enthusiasts as we journey together through the marvels of the natural world. Welcome to WildWonder – where every adventure starts with you.</p>
                <div class="text-center">
                    <button class="btn btn-primary btn-hero">Explore</button>
                    <button class="btn btn-primary btn-hero">Join Us</button>
                </div>
        </div>
    </div>
</div>
{% endblock hero %}

{% block content %}


<!-- index.html content ends here -->
{% endblock %}