{% extends "base.html" %}
{% load static %}


{% block hero %}
<!-- Hero section content -->
<h1 class="text-center">
    {{ contact.hero_title }}
</h1>
<br>
<div class="text-justify">
    {{ contact.hero_message | safe }}
</div>
<div class="text-center" id="hero-buttons">
    <a href="#" class="btn btn-primary btn-hero">Explore</a>
    {% if user.is_authenticated %}
    <a href="#" class="btn btn-primary btn-hero">Write an article</a>
    {% else %}
    <a href="#" class="btn btn-primary btn-hero">Join Us</a>
    {% endif %}
</div>
{% endblock hero %}


{% block about_section %}
<!-- About section content -->
<h2 class="text-center about-title">
    {{ contact.main_title }}
</h2>
<div>
    {{ contact.main_message | safe }}
</div>
{% endblock about_section %}

{% block main %}
<!-- Main section content -->
{% endblock main %}
