{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block hero %}
<!-- Hero section content -->
<!-- Content will be displayed inside the hero section jumbotron -->
<!-- Displays content admin wrote inside the admin panel -->
<h1 class="text-center">

    {{ contact.hero_title }}
</h1>
<br>
<div class="text-justify">
    {{ contact.hero_message | safe }}
</div>
<div class="text-center" id="hero-buttons">
    <!-- Displays Explore link styled as button that takes user to the articles page -->
    <a href="{% url 'articles_page' %}" aria-label="Explore link. Opens a page with all of the articles. Opens in the same tab." class="btn btn-hero">Explore</a>
    {% if user.is_authenticated %}
    <!-- If user is authenticated, displays Write an article button that takes user to the write article page -->
    <!-- If user is not authenticated, displays Join Us button that takes user to the sign up page -->
    <a href="{% url 'write_article' %}" class="btn btn-hero">Write an article</a>
    {% else %}
    <a href="{% url 'account_signup' %}" aria-label="Sign Up link. Opens in same tab." class="btn btn-hero">Join Us</a>
    {% endif %}
</div>
{% endblock hero %}


{% block about_section %}
<!-- About section content -->
<!-- Content will be displayed inside the about section -->
<!-- Displays content admin wrote inside the admin panel -->
<h2 class="text-center about-title">
    {{ contact.main_title }}
</h2>
<div>
    {{ contact.main_message | safe }}
</div>
{% endblock about_section %}

{% block main %}
<!-- Main section content -->
<!-- Content will be displayed inside the main section -->
<div class="row justify-content-center contact-section">
    <div class="col-12 col-sm-6 my-5 card">
        <h2 class="text-center">Contact us</h2>
        <form method="POST" class="justify-content-center form-center">
            {{ contact_form|crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-submit">Submit</button>
        </form>
    </div>
</div>

<section class="write-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Share your WildWonder</h2>
                <div class="row text-center">
                    <div class="col-12">
                        <p class="text-justify">
                            Write your own stories, insights, and experiences exploring our planet's natural wonders.
                            Share your passion for nature and inspire others to embark on their own adventures.
                        </p>
                        <p class="text-justify">
                            Whether you're a seasoned explorer or a first-time writer, your voice is a valuable addition,
                            so get writing, share your story, join or start the discussions in the comments and 
                            above all, know that you are heard.
                        </p>
                        <span class="justify-content-center">
                        <a href="{% url 'write_article' %}" class="btn btn-hero">Write an article</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- contact.html content ends here -->
{% endblock main %}
